@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.video {
  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    @include tablet {
      padding: 0 2.25rem;
    }
  }

  &__title {
    padding: 1rem 0;
    @include tablet {
      border-bottom: none;
      padding: 2rem 0 1rem;
    }
  }

  &__title-item {
    @include videoTitle;
  }

  &__details {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    @include tablet {
      justify-content: space-between;
      padding-top: 0;
    }
    @include desktop {
      margin-right: -2.25rem;
    }
  }

  &__details-left {
    margin-right: 5rem;
    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__details-right {
    @include tablet {
      display: flex;
    }
    @include desktop {
      margin-right: 2.25rem;
    }
  }

  &__details-header {
    @include label;
    padding-bottom: 0.5rem;
    color: $secondary-text-color;
    font-weight: 400;
    &--bold {
      @include subHeader;
      color: $primary-text;
      @include tablet {
        margin-right: 2.25rem;
      }
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
    @include tablet {
    }
  }

  &__icon {
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
    @include tablet {
      &--margin-left {
        margin-left: 2.25rem;
      }
    }
  }

  &__description {
    padding: 1rem 0;
    @include desktop {
      padding-top: 1.5rem;
    }
  }

  &__description-paragraph {
    @include bodyCopy;
  }
}
