@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/reset";

.video {
  &-title {
    display: flex;
    flex-direction: column;
  }
  &-title {
    padding: 1rem 0;
    @include tablet {
      border-bottom: none;
      padding: 2rem 0 1rem;
    }
    &-item {
      @include videoTitle;
    }
  }
  &-details {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    @include tablet {
      justify-content: space-between;
      padding-top: 0;
    }
    @include desktop {
      margin-right: -2.25rem;
    }
    &-left {
      margin-right: 5rem;
      @include tablet {
        display: flex;
        align-items: center;
      }
    }
    &-right {
      @include tablet {
        display: flex;
      }
      @include desktop {
        margin-right: 2.25rem;
      }
    }
    &-header {
      @include label;
      padding-bottom: 0.5rem;
      color: $silver;
      font-family: AvenirNextLTPro-Regular;
      &--bold {
        @include subHeader;
        color: $black;
        @include tablet {
          margin-right: 2.25rem;
        }
      }
    }
  }
  &-icon-box {
    display: flex;
    align-items: center;
    @include tablet {
    }
  }
  &-icon {
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
    @include tablet {
      &--margin-left {
        margin-left: 2.25rem;
      }
    }
  }
  &-description {
    padding: 1rem 0;
    &-paragraph {
      @include bodyCopy;
    }
    @include desktop {
      padding-top: 1.5rem;
    }
  }
}
