//primary colors
$black: #323232; // primary text
$blue: #0095ff; //primary CTA color, active form field outline
$silver: #afafaf; //secondary text color, text label color
$white: #ffffff; //background color, CTA text color

//secondary colors
$dark-black: #000000; //video player components
$dark-blue: #0065ad; //cta hover state color
$mercury: #e1e1e1; //divider line, form field outline color
$alabaster: #fafafa; // form field background  color
