//primary colors
$primary-text: #323232; // primary text
$primary-CTA: #0095ff; //primary CTA color, active form field outline
$secondary-text-color: #afafaf; //secondary text color, text label color
$cta-text: #ffffff; //background color, CTA text color

//secondary colors
$video-player-black: #000000; //video player components
$cta-hover: #0065ad; //cta hover state color
$divider-color: #e1e1e1; //divider line, form field outline color
$form-field-background: #fafafa; // form field background  color

$divider: 1px solid $divider-color;
