@import "../../styles/partials/global";

.upload {
  padding: 1.5rem;
  border-top: $divider;
  &__title {
    @include videoTitle;
    padding-bottom: 1rem;
  }
  &__top-box {
    display: flex;

    flex-direction: column;
  }
  &__video-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__video-title {
    @include label;
    color: $secondary-text-color;
  }
  &__video-thumb {
    border-radius: 4px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &-label {
      color: $secondary-text-color;
      @include label;
      padding-top: 1rem;
    }
    &-input {
      width: 100%;
      border-radius: 4px;
      border: $divider;
      background-color: $form-field-background;
      color: $primary-text;
      margin: 0.25rem 0 1rem 0;
      &::placeholder {
        color: $primary-text;
        opacity: 1;
      }
      &:focus {
        outline: none;
        border: 1px solid $primary-CTA;
      }
      @include tablet {
        width: 72%;
        padding: 0.75rem;
        margin: 0 0 1rem;
      }
      &--title {
        padding: 0.75rem 0.75rem 0.75rem;
      }
      &--description {
        padding: 0.75rem 0.75rem 5rem;
      }
    }
  }
  &__button-box {
    display: flex;
    flex-direction: column;
  }
  &__button--top {
    position: relative;
    margin-bottom: 1rem;
  }
  &__button--publish {
    @include button;
  }
  &__button--icon {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  &__button--cancel {
    @include button;
    background-color: #ffffff;
    color: $primary-CTA;
    &:hover {
      color: $cta-text;
    }
  }
}
