@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/reset";

.sidebar-card {
  display: flex;
  padding-bottom: 1rem;
  &-card {
    display: flex;
  }
  &-image {
    height: 55px;
    width: 95px;
    border-radius: 4px;
  }
  &-box {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  &-video-title {
    color: $black;
    @include subHeader;
    padding-bottom: 0.25rem;
  }
  &-channel {
    color: $black;
  }
}
