@import "../../styles/partials/global";

.sidebar__card {
  display: flex;
  padding-bottom: 1rem;
  @include tablet {
    padding-bottom: 1.25rem;
  }

  &-image {
    height: 3.4375rem;
    width: 5.9375rem;
    border-radius: 4px;
    @include tablet {
      height: 3.8rem;
      width: 6.5rem;
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    @include tablet {
      width: 25%;
    }
    @include desktop {
      width: 50%;
    }
  }

  &-video-title {
    color: $primary-text;
    @include subHeader;
    padding-bottom: 0.25rem;
  }

  &-channel {
    color: $primary-text;
  }
}
