@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/reset";

.video {
  font-family: AvenirNextLTPro-Regular;
  &-box {
    border-bottom: 1px solid $mercury;
    &--borderless {
      border-bottom: none;
    }
  }
  &-hero {
    width: 100vw;
    height: auto;
  }
  &-info {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
  }
  &-title {
    padding: 1rem 0;
    &-item {
      @include videoTitle;
    }
  }
  &-details {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    &-left {
      margin-right: 5rem;
    }
    &-header {
      @include bodyCopy;
      padding-bottom: 0.5rem;
      color: $silver;
      &--bold {
        @include subHeader;
        color: $black;
      }
    }
  }
  &-icon-box {
    display: flex;
    align-items: center;
  }
  &-icon {
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
  &-description {
    padding: 1rem 0;
    &-paragraph {
      @include bodyCopy;
    }
  }
}
