@import "../../styles/partials/global";

.sidebar {
  font-size: 13px;
  margin: 1rem 1rem 0;
  @include tablet {
    margin: 1.5rem 2.25rem 0;
  }
  &__header {
    color: $secondary-text-color;
    @include label;
    padding-bottom: 1rem;
  }
}
