@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/reset";

.comments {
  font-family: AvenirNextLTPro-Regular;
  margin: 0 1rem;
  &-header {
    padding: 0 0 1rem;
    @include subHeader;
  }
  &-container {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $mercury;
  }
  &-avatar {
    @include avatar;
    margin-top: 1rem;
  }
  &-form {
    width: 90%;
    padding-left: 1rem;
  }
  &-label {
    color: $silver;
    @include label;
  }
  &-field {
    width: 100%;
    padding: 0.75rem 0.75rem 5rem 0.75rem;
    margin: 0.25rem 0 1rem 0;
    border-radius: 4px;
    border: 1px solid $mercury;
    background-color: $alabaster;
    color: $black;
    &::placeholder {
      color: $black;
      opacity: 1;
    }
  }
  &-button-box {
    position: relative;
    padding-bottom: 16px;
  }
  &-icon {
    position: absolute;
    top: 9px;
    left: 12px;
  }
  &-button {
    @include label;
    @include button;
  }
}
