@import "../../styles/partials/global";

.div-box {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.div__video-comments {
  @include desktop {
    border-right: $divider;
    width: 75%;
    margin-left: 5rem;
  }
}
